<span highlight>product-list works!</span>

<!-- new syntax: control flow -->
@if (true) {
  <p>contenu</p>
} @else {
  <p>autre contenu</p>
}

<!-- old syntax -->
<!--<p *ngIf="true; else autre">contenu</p>-->
<!--<ng-template #autre>-->
<!--  <p>autre contenu</p>-->
<!--</ng-template>-->
<button type="button" (click)="loadProducts()">Load products</button><br/>

@if (loadingState() === RequestState.Loading) {
  Loading in progress
} @else if (loadingState() === RequestState.Error) {
  Error loading data
} @else {
  <h2>Avec signals:</h2>
  @for (product of products(); track product.id) {
    <div>{{ product.title }}</div>
  }


  <h2>Avec observables:</h2>
  @for (product of products$ | async; track product.id) {
    <app-product-card [product]="product" (showDetails)="seeDetails($event)">
      <span #test>Id element: {{ product.id }}</span>
    </app-product-card>
  }
}
